<div class="pb-32 px-16 pt-16">
  <div class="font-size-28" mat-dialog-title>Change Password</div>
  <mat-divider></mat-divider>
  <div mat-dialog-content class=" py-16">
    <form  fxLayout="column" fxLayoutAlign="center center">
      <div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
            <i class="material-icons-outlined ">
              security
            </i>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Old Password</mat-label>
              <input type="password" matInput placeholder="Type in old passoword" >
              <!-- <mat-error
                    *ngIf="signupform.get('confirmpassword').touched && signupform.get('confirmpassword').invalid && !signupform.hasError('notMatching')">
                    {{errormessages.weak_password}}</mat-error>
                  <mat-error *ngIf="signupform.get('confirmpassword').touched && signupform.hasError('notMatching') ">
                    {{errormessages.password_mismatch}}</mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
            <i class="material-icons-outlined ">
              enhanced_encryption
            </i>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input type="password" matInput placeholder="New passoword"
                     [errorStateMatcher]="matcher">
              <!-- <mat-error
                    *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').invalid && !changePasswordForm.hasError('notMatching')">
                    {{errormessages.weak_password}}</mat-error> -->
<!--              <mat-error-->
<!--                *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.hasError('notMatching') ">-->
<!--                {{errormessages.password_mismatch}}</mat-error>-->
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
            <i class="material-icons-outlined ">
              beenhere
            </i>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Type in password again"
                     [errorStateMatcher]="matcher">
<!--              <mat-error-->
<!--                *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').invalid && !changePasswordForm.hasError('notMatching')">-->
<!--                {{errormessages.weak_password}}</mat-error>-->
<!--              <mat-error-->
<!--                *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.hasError('notMatching') ">-->
<!--                {{errormessages.password_mismatch}}</mat-error>-->
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="column-reverse" fxLayoutAlign="center center" fxLayoutGap="16px">

    <button mat-stroked-button (click)="onNoClick()" class="w-140">Cancel</button>
    <button mat-raised-button cdkFocusInitial type="submit" (click)='onSubmit()' color="primary"
            class="w-140">Update</button>
  </div>

</div>
