<div class="pb-32 px-16 pt-16">
    <div fxLayout="row" fxLayoutAlign="end center" class='cursor-pointer'>
        <i class="material-icons" (click)='close()'>
               clear
           </i>
       

   </div>
  <div class="font-size-28" mat-dialog-title>Change Password</div>
  <mat-divider></mat-divider>
  <mat-dialog-content  class=" py-16">
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="changePasswordForm">
      <div fxLayout="column" fxLayoutGap="20px">
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
              <i class="material-icons-outlined ">
                security
              </i>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input id='mysecretpassword1' type="password" matInput placeholder="Type in old password" formControlName="oldpassword" showHideInput>
                <mat-icon class='cursor-pointer' matSuffix showHideTrigger="mysecretpassword1"
                [showHideStatus]="{id: 'mysecretpassword1',materialIcon:true }"></mat-icon>
                <!-- <mat-error
                      *ngIf="signupform.get('confirmpassword').touched && signupform.get('confirmpassword').invalid && !signupform.hasError('notMatching')">
                      {{errormessages.weak_password}}</mat-error>
                    <mat-error *ngIf="signupform.get('confirmpassword').touched && signupform.hasError('notMatching') ">
                      {{errormessages.password_mismatch}}</mat-error> -->
                <mat-error
                  *ngIf="changePasswordForm.get('oldpassword').errors?.required &&
                   changePasswordForm.get('oldpassword').touched">
                  {{error_messages.required_field}}
                </mat-error>
              </mat-form-field>

            </div>
          </div>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
              <i class="material-icons-outlined ">
                enhanced_encryption
              </i>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>

                <input id='mysecretpassword2' type="password" matInput placeholder="New password" formControlName="newpassword"
                       [errorStateMatcher]="matcher" showHideInput>
                       <mat-icon class='cursor-pointer' matSuffix showHideTrigger="mysecretpassword2"
                       [showHideStatus]="{id: 'mysecretpassword2',materialIcon:true }"></mat-icon>

                <mat-error
                  *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').invalid
                   && !changePasswordForm.hasError('not_matching')">
                  {{error_messages.weak_password}}</mat-error>
                <mat-error
                  *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.hasError('not_matching')
                   ">
                  {{error_messages.password_mismatch}}</mat-error>
<!--                <mat-error-->
<!--                  *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.hasError('notMatching') ">-->
<!--                  {{error_messages.password_mismatch}}</mat-error>-->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
              <i class="material-icons-outlined ">
                beenhere
              </i>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input id='mysecretpassword3' type="password" matInput placeholder="Type in password again" formControlName="confirmpassword"
                       [errorStateMatcher]="matcher" showHideInput>

                       <mat-icon class='cursor-pointer' matSuffix showHideTrigger="mysecretpassword3"
                       [showHideStatus]="{id: 'mysecretpassword3',materialIcon:true }"></mat-icon>
                <!--              <mat-error-->
                <!--                *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').invalid && !changePasswordForm.hasError('notMatching')">-->
                <!--                {{errormessages.weak_password}}</mat-error>-->
                <mat-error
                  *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.get('confirmpassword').invalid
                   && !changePasswordForm.hasError('not_matching')">
                  {{error_messages.weak_password}}</mat-error>
                <mat-error
                  *ngIf="changePasswordForm.get('confirmpassword').touched && changePasswordForm.hasError('not_matching')
                   ">
                  {{error_messages.password_mismatch}}</mat-error>
              </mat-form-field>

            </div>
          </div>
        </div>
      </div>
    </form>

    <div fxLayout="column-reverse"class="ml-24"
       fxLayoutAlign="center center" fxLayoutGap="16px">

    <button mat-stroked-button (click)="close()" class="w-140">Cancel</button>
    <button mat-raised-button cdkFocusInitial type="submit" (click)='onSubmit()' color="primary"
            class="w-140">Update
    </button>
  </div>
  </mat-dialog-content>

  

</div>
