<!-- <form [formGroup]="signupform"> -->
<div fxLayout="row" fxLayoutAlign="center center" class="pt-84 pb-48 header-1 ">
    Account Recovery in DUPAY
</div>

<!-- Email form -->
<form [formGroup]="emailForm">
    <div *ngIf="!isEmailFormDone" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px"
        class="margin-auto  pb-124">

        <div>
            <mat-progress-bar *ngIf="isEmailLoading" fxLayout="row" fxLayoutAlign="center center" mode="indeterminate"
                color='primary' class="m-0"></mat-progress-bar>
            <mat-card class="p-36 " [class.mat-elevation-z4]="true">

                <div fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center center"
                    fxLayoutAlign.lt-md="start center" fxLayoutGap="32px" fxLayoutGap.lt-md='12px'>



                    <!-- Email -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                        <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
                            <i class="material-icons-outlined">
                                email
                            </i>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Type in email" formControlName="email">
                                <mat-error *ngIf="emailForm.get('email').touched && emailForm.get('email').invalid">
                                    {{error_messages.email_error}}</mat-error>

                                <!-- <mat-error *ngIf="signupform.get('email').touched && signinform.get('email').invalid">{{signinform.get('email').errors|json}}</mat-error> -->

                                <!-- <mat-error *ngIf="true">222</mat-error> -->
                                <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>





                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class='mt-24'>
                    <button type="submit" (click)='sendOTPtoEmail()' mat-raised-button color="primary"
                        class="w-240 h-40">Send OTP</button>
                    <!-- <button (click)='routeToSignin()' mat-stroked-button color="primary" class="w-240 h-40">Back to
                                login</button> -->


                </div>

            </mat-card>
        </div>
        <div>
            <a (click)='routeToLogin()' class="cursor-pointer link-color font-size-16">Back to login </a>
        </div>

    </div>
</form>

<!-- OTP form -->
<form [formGroup]="OTPForm">
    <div *ngIf="isEmailFormDone && !isOTPFormDone" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px"
        class="margin-auto pb-124">
        <div>
            <mat-progress-bar *ngIf="isOTPLoading" fxLayout="row" fxLayoutAlign="center center" mode="indeterminate"
                color='primary' class="m-0"></mat-progress-bar>

            <mat-card class="p-36 " [class.mat-elevation-z4]="true">

                <div fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="center center"
                    fxLayoutAlign.lt-md="start center" fxLayoutGap="32px" fxLayoutGap.lt-md='12px'>

                    <!-- OTP -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                        <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
                            <i class="material-icons-outlined">
                                fingerprint
                            </i>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>OTP</mat-label>
                                <input type="text" matInput placeholder="Type in OTP" formControlName="otp">
                                <mat-error *ngIf="OTPForm.get('otp').touched && OTPForm.get('otp').invalid">
                                    {{error_messages.otp_error}}</mat-error>

                                <!-- <mat-error *ngIf="signupform.get('email').touched && signinform.get('email').invalid">{{signinform.get('email').errors|json}}</mat-error> -->

                                <!-- <mat-error *ngIf="true">222</mat-error> -->
                                <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>


                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class='mt-24'>
                    <button type="submit" (click)='verifyOTP()' mat-raised-button color="primary"
                        class="w-260 h-40">Verify
                        OTP</button>
                    <button *ngIf='isresendOtp' (click)='resendOtp()' mat-stroked-button color="primary"
                        class="w-260 h-40">Resend Otp</button>
                    <!-- <button (click)='routeToSignin()' mat-stroked-button color="primary" class="w-240 h-40">Back to
                            login</button> -->


                </div>

            </mat-card>
        </div>
        <div>
            <a (click)='routeToLogin()' class="cursor-pointer link-color font-size-16">Back to login </a>
        </div>

    </div>
</form>


<!-- Reset password -->
<form [formGroup]="accountRecoveryForm">
    <div *ngIf="isEmailFormDone && isOTPFormDone" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px"
        class="margin-auto pb-124">
        <div>
            <mat-progress-bar *ngIf="isAccountRecoveryLoading" fxLayout="row" fxLayoutAlign="center center"
                mode="indeterminate" color='primary' class="m-0"></mat-progress-bar>

            <mat-card class="p-36 " [class.mat-elevation-z4]="true">

                <div fxLayout="column" fxLayout.lt-md='column' fxLayoutAlign="center center"
                    fxLayoutAlign.lt-md="start center" fxLayoutGap="12px" fxLayoutGap.lt-md='12px'>
                    <!-- <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px"> -->

                    <!-- Password -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                        <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
                            <i class="material-icons-outlined">
                                lock
                            </i>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Type in password "
                                    formControlName="password" [errorStateMatcher]="matcher">

                                <mat-error
                                    *ngIf="accountRecoveryForm.get('password').touched && accountRecoveryForm.get('password').invalid  && !accountRecoveryForm.hasError('not_matching')">
                                    {{error_messages.weak_password}}</mat-error>
                                <mat-error
                                    *ngIf="accountRecoveryForm.get('password').touched && accountRecoveryForm.hasError('not_matching') ">
                                    {{error_messages.password_mismatch}}</mat-error>
                                <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- </div> -->

                    <!-- <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px"> -->

                    <!-- Confirm Password -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                        <div fxLayout="column" fxLayoutAlign="center" class="mat-icon-for-input">
                            <i class="material-icons-outlined">
                                vpn_key
                            </i>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" matInput placeholder="Type in confirm password "
                                    formControlName="confirm_password" [errorStateMatcher]="matcher">

                                <mat-error
                                    *ngIf="accountRecoveryForm.get('confirm_password').touched && accountRecoveryForm.get('confirm_password').invalid  && !accountRecoveryForm.hasError('not_matching')">
                                    {{error_messages.weak_password}}</mat-error>
                                <mat-error
                                    *ngIf="accountRecoveryForm.get('confirm_password').touched && accountRecoveryForm.hasError('not_matching') ">
                                    {{error_messages.password_mismatch}}</mat-error>
                                <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class='mt-24'>
                    <button type="submit" (click)='onAccountRecoverySubmit()' mat-raised-button color="primary"
                        class="w-260 h-40">
                        Reset Password</button>
                    <button *ngIf='isresendPassword' (click)='resendOtp()' mat-stroked-button color="primary"
                        class="w-260 h-40">Resend Email</button>
                    <!-- <button (click)='routeToSignin()' mat-stroked-button color="primary" class="w-240 h-40">Back to
                        login</button> -->


                </div>

            </mat-card>
        </div>
        <div>
            <a (click)='routeToLogin()' class="cursor-pointer link-color font-size-16">Back to login </a>
        </div>
        <!-- <div fxFlex='15' fxLayout="row" fxFlexAlign="start center">
            <div>
                <a (click)='routeToAccountRecovery()' class="cursor-pointer secondary-text-color">Forgot Password? </a>
            </div>
        </div> -->

    </div>
</form>