//@import '../../../../styles/color.scss';
@import '../../../../styles/theme.scss';


table {
  width: 90%;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;

}

th {
  font-size: 16px;
  font-weight: 600;
  color: white !important;
  background: $primary-color !important;

}

.filter {
  width: 90%;
  margin: auto;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;
}

mat-header-cell {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
