
.example-card{
    max-width: 800px;
    border: 1px solid rebeccapurple;
}

table {
    width: 90%;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

th{
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.filter{
    width: 90%;
    margin: auto;
}