
tr:hover {
  background-color: #e3e4ec;
}
// button{
//   background-color: #222858;
//   font-size: 20px;
//   position: relative;
//   margin: 27px;
//   width: 250px;
//   height: 46px;
//   border-radius: 9px;
//   color:white;
// }
th{
  font-size: 19px;
  font-weight: 600;
}
.withdraw-color{
  background:#0B561F;
}

