<h2 mat-dialog-title>
    Complete Transfer Request
</h2>
<mat-dialog-content>
<form [formGroup]="statusCompleteForm">

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>   
            Transaction Id
        </div>
        <div>
            <mat-form-field appearance="outline">
                <input matInput [formControl]="transactionId">
              </mat-form-field>
        </div>
    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
        <div> Payment process </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Select process</mat-label>
                <mat-select [(ngModel)]="selectedValue">
                    <mat-option *ngFor="let item of waletList" [value]="item.value">
                    {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div> -->

    
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div> Amount </div>
        <div>
            <mat-form-field appearance="outline">
                <input matInput [readonly]="true" [formControl]="amount">
              </mat-form-field>
        </div>
    </div>


    <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" [formControl]="password">
              </mat-form-field>
        </div>
    </div> -->

</form>



</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-button (click) = "close()"> Close </button>
<button class="mat-raised-button mat-primary" [disabled]="!statusCompleteForm.valid" (click) = "save()">  Submit </button>
</mat-dialog-actions>