srsftyafstyfdufas

<div class="margin-auto w-332 pb-16 pt-64">
    <mat-card class="pb-36" [class.mat-elevation-z4]="true">


        <div fxLayout='column' fxLayoutAlign="center center" class='primary-background py-24 '>
            <div class='white-color-foreground font-size-24'>
                <img src="assets/image.png" alt="" height="80" width="100">
            </div>
        </div>




        <!-- <div fxLayout='column' fxLayoutAlign="center center" fxLayoutGap="12px" class='pb-20 pt-20'>
            <div class='font-size-20'>{{MerchantName}}</div>

            <div>Pay with Wallet</div>

        </div> -->

<!-- 
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px" class="pb-16">
            <div>
                <button mat-stroked-button id="bKash_button" class='h-60 w-120 p-8'><img src="assets/bkash.gif"
                        class='w-100-p h-100-p'>
                </button>
            </div>

            <div>
                <button mat-stroked-button class='h-60 w-120 p-8' (click)='openSureCash()'>
                    <img src="assets/surecash.png" class='w-100-p h-100-p'>
                </button>
            </div>

        </div> -->
        
        <!-- <div *ngIf='isSureCashOpen' fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" class='py-12 surecashBorder'>
            <div class='font-size-20'>Sure Cash Payment</div>
            <form [formGroup]="surecashForm">
                <div>
                    <mat-form-field appearance="outline" class='w-224'> -->
                        <!-- <mat-label>Account Number</mat-label> -->
                        <!-- <input id="surecashAccountNumber" type="text" matInput placeholder="01XXXXXXXXXX"
                            formControlName="amount" > -->


<!-- 
                        <mat-error
                            *ngIf="surecashForm.get('amount').errors?.required && surecashForm.get('amount').touched">
                            Provide account number
                        </mat-error>
                        <mat-error
                            *ngIf="surecashForm.get('amount').invalid && surecashForm.get('amount').touched">
                            Invalid Account number
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
                <div>
                    <button mat-raised-button color='primary' class='w-80'>PAY</button>
                </div>
                <div>
                    <button mat-stroked-button color='primary' class='w-80' (click)='closeSureCash()'>CLOSE</button>

                </div>

            </div> -->


        <!-- </div> -->

        <!-- <div fxLayout='column' fxLayoutAlign="center center" class='font-size-20 pt-12'>
            Payment amount {{Amount}} BDT
        </div> -->
    </mat-card>

</div>
