<div fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap="24px" class='mx-40 mt-40 '>
    <div class='w-100-p'> 
        <mat-form-field  appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matPrefix class='mr-16'>search</mat-icon>
        </mat-form-field>
    </div>
    <div class='pb-16'>
        <button mat-raised-button color="primary" type="button" class='h-60 w-224' (click)="export()" >
            Export
        </button>
    </div>
</div>

<div fxLayout="column" class="mat-elevation-z8 mx-40 mb-40 ">
    <table mat-table [dataSource]="listData" [class.isMobile]="isMobile">

        <ng-container matColumnDef="SI No">
            <th mat-header-cell *matHeaderCellDef > Serial No </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
    
        <ng-container matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
        </ng-container>
    
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Transaction Time </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>
    
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

