@import '../../../../styles/theme.scss';

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;
}

mat-paginator {
  height: 64px !important;
}