<div *ngIf="!isMerchant">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

        <div class='w-400 p-32'>
            <mat-card>
                <!-- <mat-card-header> -->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>
                            <mat-card-title>Dupay Features</mat-card-title>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>

                <!-- </mat-card-header> -->

                <mat-card-content>
                    <mat-list class='p-22'>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done</i> Payment Management
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons mr-8">done</i> Money Transfer Across Different Services
                        </mat-list-item>

                    </mat-list>
                </mat-card-content>
                <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
            </mat-card>
        </div>
        <div class='w-400 p-32'>
            <mat-card>
                <!-- <mat-card-header> -->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>
                            <mat-card-title>Merchant Account</mat-card-title>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <!-- <mat-card-title>Merchant Account</mat-card-title> -->
                <!-- </mat-card-header> -->

                <mat-card-content>
                    <mat-list class='p-22'>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done </i> Secure Money Transfer
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done </i> Manage E-commerce Site Payments
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
            </mat-card>
        </div>

    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

        <div class='w-400 p-32'>
            <mat-card>
                <!-- <mat-card-header> -->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>
                            <mat-card-title>Money Withdrawals</mat-card-title>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <!-- <mat-card-title>Money Withdrawals</mat-card-title> -->
                <!-- </mat-card-header> -->

                <mat-card-content>
                    <mat-list class='p-22'>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done </i>Withdrawal of Cash From DUPAY Wallet
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done </i>Withdrawal of Money
                        </mat-list-item>

                    </mat-list>
                </mat-card-content>
                <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
            </mat-card>
        </div>
        <div class='w-400 p-32'>
            <mat-card>
                <!-- <mat-card-header>
                <mat-card-title>Transactions History</mat-card-title>
            </mat-card-header> -->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>
                            <mat-card-title>Transaction History</mat-card-title>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-card-content>
                    <mat-list class='p-22'>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done </i>Viewing Relevant Transactions
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons mr-8"> done </i>Query Transactions
                        </mat-list-item>

                    </mat-list>
                </mat-card-content>
                <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
            </mat-card>
        </div>

    </div>
</div>
<div *ngIf="isMerchant">
    <div class='m-40'>
        <mat-card>
            <div fxLayout='column' fxLayoutAlign='center start' fxLayoutGap='16px' class='p-40'>
                <div class='font-size-24 font-weight-950'>
                    <u>Configuration of DUPAY</u>

                </div>
                <div class='font-size-16 pr-64 font-weight-200'>

                    The DUPAY API is centered around REST. The API is constructed to have predictable, resource-oriented
                    URLs as well as to use HTTP response codes to point out API errors. JSON will be returned in all
                    responses from the API, including errors.
                    <div>
                        <span class='primary-text-color font-weight-950'> To get the app key, one needs to be registered
                            as Merchant first.</span>
                    </div>
                    <div>
                        After logging in, the app key will be found in Merchant Profile page.
                    </div>
                </div>

                <div fxLayout='column' fxLayoutAlign='center start'>
                    <div class='font-size-20 font-weight-800 pb-8'>
                        <u>Step One: Create Invoice</u>

                    </div>
                    <div class='font-size-16 font-weight-600'>This generate an invoice for the transaction.</div>
                </div>

                <div>
                    URL:<a>http://103.221.253.163:8080/api/external/invoice</a>
                </div>
                <div>
                    <div>
                        Method: POST
                    </div>
                    <div>Request body should be valid JSON format. The parameter list in the body is stated below.</div>
                    <div class='ml-16'>
                        <div>appKey <span class='rejected-color'>Compulsory</span></div>
                        <div class='ml-16'>This token uniquely identifies the ecommerce site of the merchant</div>
                        <div>Amount <span class='rejected-color'>Compulsory</span></div>
                        <div class='ml-16'>The amount you want to charge for this invoice.</div>
                        <div>redirectUrl <span class='rejected-color'>Compulsory</span></div>
                        <div class='ml-16'>Redirect url after payment.</div>
                    </div>


                </div>
                <div>
                    Below a sample body for a request is shown.


                </div>
                <div>
                    <mat-card>
                        <div class='p-16'>
                            <img src="assets/body.png" class='w-100-p h-100-p'>

                        </div>

                    </mat-card>
                    <!-- <pre>
                    body:
                    {
                    "appKey": "YOUR_APP_KEY",
                    "amount": 10.00,
                    "redirectUrl":"http://www.yoursite.com"
                    }
                </pre> -->
                </div>
                <div>
                    The corresponding response to the request will have the following parameters.
                    <span class='accepted-color '>HTTP status: 200</span>

                </div>
                <div>

                    <mat-list>
                        <mat-list-item class='h-20 font-weight-950'> id </mat-list-item>
                        <mat-list-item class='h-20 font-weight-950'> createTime </mat-list-item>
                        <mat-list-item class='h-20 font-weight-950'> appKey </mat-list-item>
                        <mat-list-item class='h-20 font-weight-950'> Amount </mat-list-item>
                        <mat-list-item class='h-20 font-weight-950'> Status </mat-list-item>
                        <mat-list-item class='h-20 font-weight-950'> redirectUrl </mat-list-item>
                    </mat-list>

                </div>
                <div>
                    Below a sample body for a response is shown.
                </div>
                <div>
                    <mat-card>
                        <div class='p-16'>
                            <img src="assets/res.PNG" class='w-100-p h-100-p'>

                        </div>

                    </mat-card>
                    <!-- <pre>
                    response:
                    {
                    "id": "d4e1e767-dc25-46e2-8665-94a2bbdcfd7e",
                    "createTime": "2019-11-13 11:49:36",
                    "appKey": "YOUR_APP_KEY",
                    "amount": 10.0,
                    "status": "initiated",
                    "redirectUrl": "http://www.yoursite.com"
                    }</pre> -->

                </div>
                <!-- <div>
                    Step Two: Redirecting to DUPay Payment URL
                    After the invoice is created, the merchant should redirect to the following URL to complete the
                    payment.

                </div> -->
                <div fxLayout='column' fxLayoutAlign='center start'>
                    <div class='font-size-20 font-weight-800 pb-8'>
                        <u>Step Two: Redirecting to DUPay Payment URL</u>

                    </div>
                    <div class='font-size-16 font-weight-600'>After the invoice is created, the merchant should redirect
                        to the following URL to complete the
                        payment.</div>
                </div>
                <div>
                    <span class='font-size-20 font-weight-850'>DUPay payment URL is: </span>
                    <a> http://103.221.253.263:3000/api/payment?invoice=Your_Invoice_ID</a>

                </div>
                <!-- <div class='font-size-24 font-weight-950'>
                    <u>Withdraw</u>

                </div>
                <div class='font-size-16 pr-64 font-weight-600'>

                    After sign in successfully, merchant can see his all withdraw histories from withdraw section.
                    Merchant can see withdraw histories sorting by WithdrawId, WithdrawDate, Amount, Status. Merchant
                    also can search Widraw histories by WithdrawId, WithdrawDate, Amount, Status.
                    If merchant click Withdraw Money button, then Merchant can see a Modal with information Existing
                    Amount, Requested Amount, Account Name, Account Number, Bank Name, Branch. The Modal also has “Enter
                    Amount to Withdraw” and “Confirm Password” Field to withdraw money. Merchant can not withdraw money
                    more than existing amount. If merchant properly gives Amount and password to withdraw money, then
                    this withdraw goes to withdraw history with status pending. If Admin accept the withdraw request,
                    then withdraw will complete and status will be done.

                </div> -->
            </div>

        </mat-card>
    </div>
</div>