<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

    <div class='w-400 p-32'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Dupay Features</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class='w-400 p-32'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Merchant Account</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

    <div class='w-400 p-32'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Money Withdrawals</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class='w-400 p-32'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Transactions History</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>