<div *ngIf="!isMerchant">
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

    <div class='w-400 p-32'>
        <mat-card>
            <!-- <mat-card-header> -->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>
                            <mat-card-title>Dupay Features</mat-card-title>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                
            <!-- </mat-card-header> -->

            <mat-card-content>
                <mat-list class='p-22'>
                    <mat-list-item> 
                        <i class="material-icons mr-8"> done</i> Payment Management
                     </mat-list-item>
                    <mat-list-item> 
                        <i class="material-icons mr-8">done</i> Money Transfer Across Different Services 
                    </mat-list-item>
                   
                </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>
    <div class='w-400 p-32'>
        <mat-card>
            <!-- <mat-card-header> -->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <span>
                            <mat-card-title>Merchant Account</mat-card-title>
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <!-- <mat-card-title>Merchant Account</mat-card-title> -->
            <!-- </mat-card-header> -->

            <mat-card-content>
                <mat-list class='p-22'>
                    <mat-list-item> 
                            <i class="material-icons mr-8"> done </i> Secure Money Transfer 
                    </mat-list-item>
                    <mat-list-item> 
                            <i class="material-icons mr-8"> done </i> Manage E-commerce Site Payments 
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>

</div>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

    <div class='w-400 p-32'>
        <mat-card>
            <!-- <mat-card-header> -->
                <mat-toolbar color="primary">
                        <mat-toolbar-row>
                            <span>
                                <mat-card-title>Money Withdrawals</mat-card-title>
                            </span>
                        </mat-toolbar-row>
                </mat-toolbar>
                <!-- <mat-card-title>Money Withdrawals</mat-card-title> -->
            <!-- </mat-card-header> -->

            <mat-card-content>
                <mat-list class='p-22'>
                    <mat-list-item> 
                            <i class="material-icons mr-8"> done </i>Withdrawal of Cash From DUPAY Wallet 
                    </mat-list-item>
                    <mat-list-item> 
                            <i class="material-icons mr-8"> done </i>Withdrawal of Money  
                    </mat-list-item>
                   
                </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>
    <div class='w-400 p-32'>
        <mat-card>
            <!-- <mat-card-header>
                <mat-card-title>Transactions History</mat-card-title>
            </mat-card-header> -->
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span>
                        <mat-card-title>Transaction History</mat-card-title>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-card-content>
                <mat-list class='p-22'>
                    <mat-list-item> 
                            <i class="material-icons mr-8"> done </i>Viewing Relevant Transactions 
                    </mat-list-item>
                    <mat-list-item> 
                            <i class="material-icons mr-8"> done </i>Query Transactions
                     </mat-list-item>
                    
                </mat-list>
            </mat-card-content>
            <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>

</div>
</div>
<div *ngIf="isMerchant">
    <div fxLayout='column' class='m-40'>
        <div>
                Stupid merchant aise dupay te.

        </div>
    </div>
</div>

