table {
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin-top: 30px;
    margin: auto;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

th{
    font-size: 15px;
    font-weight: 600;
    color: black;
}

tr:hover {
    background-color: #e3e4ec;
}

.merchant-filter{
    width: 80%;
    margin: auto;
}