.example-card {
  max-width: 800px;
  border: 1px solid rebeccapurple;
}

.example-header-image {
  background-image: url('https://raw.githubusercontent.com/tulshidas/test/master/my_pic.jpg');
  background-size: cover;
}
