<table mat-table [dataSource]="transferRequests">
  

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="third-background">Marchent Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef class="third-background">Time </th>
        <td mat-cell *matCellDef="let element"> {{element.withdrawDate}} </td>
      </ng-container>


    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="third-background">Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="third-background">Status</th>
        <td mat-cell *matCellDef="let element">
            <mat-select [(value)]= "element.status" (selectionChange)="onStatusChange(element)">
                <mat-option *ngFor="let status of getStatusList(element.status)" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
        </td>
      </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>