<form >
<div fxLayout="column" fxLayoutAlign="center center" class='px-64'>
  <mat-card    class='w-100-p p-48 m-56'>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="mb-48">
      <div class="image-container cursor-pointer" (click)="uploadImage()">
        <img class="profile-image border-radius-50-p" src="../../../../assets/images/profile_img_avatar.png"
             alt="Upload Profile Picture">
        <div fxLayout="column" fxLayoutAlign="center center" class="overlay border-radius-50-p pt-76">
          <div class="font-size-16">Upload Profile Picture</div>
          <i class="material-icons-outlined font-size-40 ">
            cloud_upload
          </i>
        </div>
      </div>
<!--      <div *ngIf="user && user.email" class="font-size-20">{{user.email}}</div>-->
    </div>
    <div class="mb-48">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex='30' class="mat-input-for-text font-size-16">Name</div>
        <div fxFlex='70'>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Type in name" >
<!--            <mat-error *ngIf="profileform.get('name').touched && profileform.get('name').invalid">-->
<!--              {{errormessages.name}}</mat-error>-->

          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex='30' class="mat-input-for-text font-size-16">Phone number</div>
        <div fxFlex='70'>
          <div class="mat-form-field-wrapper ">
<!--            <international-phone-number formControlName="phoneNumber" placeholder="Enter phone number">-->
<!--            </international-phone-number>-->
<!--            <mat-error-->
<!--              *ngIf="profileform.get('phoneNumber').touched && profileform.get('phoneNumber').invalid">-->
<!--              {{errormessages.phonenumber_invalid}}</mat-error>-->

          </div>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex='30' class="mat-input-for-text font-size-16">User Type</div>
          <div fxFlex='70'>
              <mat-form-field appearance="outline">
                  <mat-label>User Type</mat-label>
                  <mat-select formControlName='role' multiple disableOptionCentering>
                      <mat-option *ngFor='let role of roles | keyvalue' [value]='role.key'>{{role.value}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="profileform.get('role').touched && profileform.get('role').invalid">
                      {{errormessages.roles_required}}</mat-error>
              </mat-form-field>
          </div>
      </div> -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex='30' class="mat-input-for-text font-size-16">Home Address</div>
        <div fxFlex='70'>
          <mat-form-field appearance="outline">
            <mat-label>Home Address</mat-label>
            <input type="text" matInput placeholder="Type in home address "
                   >
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex='30' class="mat-input-for-text font-size-16">Shop Address</div>
        <div fxFlex='70'>
          <mat-form-field appearance="outline">
            <mat-label>Shop Address</mat-label>
            <input type="text" matInput placeholder="Type in Shop Address "
                   >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md='column-reverse' fxLayoutAlign="end center" fxLayoutGap="16px">
      <div>
        <button (click)='openChangePasswordModal()' mat-stroked-button color="primary"
                class="w-240 h-40">Change Password</button>

      </div>
      <div>
        <button type="submit" (click)='onSubmit()' mat-raised-button color="primary"
                class="w-240 h-40">Save</button>
      </div>
    </div>
  </mat-card>
</div>
</form>
