<form [formGroup]="profileform">
  <!-- <div fxLayout="column" fxLayoutAlign="center center" class='px-64'> -->
    <!-- <mat-card class='w-60-p  m-56 ' style="padding: 0px !important;"> -->
      <!-- <div class='p-120'> -->
        <div class='p-40'>
      <mat-card  class='mat-elevation-z8'>
        <div [ngClass.xs]="{'p-8':true}"
        [ngClass.sm]="{'p-8':true}" ngClass='px-164 py-64'>
      

      <div [ngClass.sm]="{'pl-8 font-size-24 font-weight-950':true}" ngClass='font-size-24 font-weight-950 pl-60' >
        Profile Information
      </div>
      <div class='w-100-p'>
      <div *ngIf="isMarchent" fxLayout='row' fxLayoutAlign='space-between start' class='pt-48' fxLayoutGap='12px'>
        <div fxLayout='column' fxLayoutAlign='center start' [ngClass.xs]="{'pl-8 ':true}" [ngClass.sm]="{'pl-8 ':true}" ngClass='pl-60'  fxLayoutGap='12px'>
            <div>Name</div>
            <div>Username</div>
            <div>Email</div>
            <div>App key</div>
            <div>Balance</div>

            
        </div>
        <div fxLayout='column' fxLayoutAlign='center start' fxLayoutGap='12px' [ngClass.xs]="{'pr-8 ':true}" [ngClass.sm]="{'pr-8 ':true}" ngClass='pr-40'>
            <div>{{profileform.value.name}}</div>
            <div>{{profileform.value.username}}</div>
            <div>{{profileform.value.email}}</div>
            <div class='accepted-color'>{{info.id}}</div>
               <!-- <i class="material-icons-outlined pl-8 cursor-pointer" (click)='copyId()'>
                file_copy
                </i> -->
            <div>{{balance}}</div>

            
        </div>
      </div>
      <div *ngIf="isMarchent" fxLayout='row' fxLayoutAlign='space-between start' class='pb-48 pt-24' >
          <div fxLayout='column' [ngClass.xs]="{'pl-8 ':true}" [ngClass.sm]="{'pl-8 ':true}" ngClass='pl-60' fxLayoutGap='16px'>
              
              
              <div class='pt-8 pb-8'>NID</div>
              <div>Trade insurance</div>
          </div>
          <div fxLayout='column' fxLayoutGap='12px' class='pr-64'>
              
  
              <div><button color="primary" class='w-224' (click)='openNIDModal()' mat-raised-button>View NID</button></div>
              <div><button color="primary" class='w-224' (click)='openTradeInsuranceModal()' mat-raised-button>View Trade
                  Insurance</button></div>
          </div>
        </div>
      </div>


      <div *ngIf="!isMarchent" fxLayout='row' fxLayoutAlign='space-between center' class='py-48'>
          <div fxLayout='column'  fxLayoutAlign='center start' [ngClass.xs]="{'pl-8 ':true}" [ngClass.sm]="{'pl-8 ':true}" ngClass='pl-60'  fxLayoutGap='12px'>
              <div>Name</div>
              <div>Username</div>
              <div>Email</div>
          </div>
          <div fxLayout='column'  fxLayoutAlign='center start' [ngClass.xs]="{'pl-8 ':true}" [ngClass.sm]="{'pl-8 ':true}" ngClass='pl-60'  fxLayoutGap='12px'>
              <div>{{profileform.value.name}}</div>
          <div>{{profileform.value.username}}</div>
          <div>{{profileform.value.email}}</div>
          </div>
        </div>


      <div fxLayout="row" fxLayoutAlign='end center' fxLayout.lt-md='column-reverse'>

        <div  class="mb-24 mt-8 mr-64">
          <button (click)='openChangePasswordModal()' mat-raised-button color="warn" class="w-224 h-40">Change
            Password</button>
        </div>

      </div>
    
    </div>
    </mat-card>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</form>