@import './styles/fonts.scss';
@import '~@angular/material/theming';
@import './styles/core-style.scss';

html,body {
	height: 100% !important;
	margin: 0;
	font-family: 'DIN-Regular', 'Varela Round', "Helvetica Neue", sans-serif !important;
}
$custom-typography: mat-typography-config(
	$font-family: 'DIN-Regular' !important,
	$headline: mat-typography-level(32px, 48px, 700),
	$body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);


//  Customizing input selector mat elements in all places for maintaining consistency
.mat-menu-content {
	padding: 0px !important;
}
.mat-form-field-wrapper {
	padding-bottom: 16px !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}
.mat-icon-for-input {
	padding-bottom: 16px !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}
.mat-icon-for-button{
	padding-bottom: 12px !important;
	margin-top: 8px !important;
	margin-bottom: 4px !important;
}

.mat-input-for-text {
	padding-bottom: 16px !important;
	margin-top: 12px !important;
	margin-bottom: 4px !important;
}
.mat-form-field {
	width: 100%;
}

.mat-card {
	padding: 0px;
}
.mat-input-element {
	height: 18px !important;
}
.mat-error {
	font-size: 12px !important;
	height:16px !important;
}
.bold {
  font-weight: 600 ;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
