@import './styles/fonts.scss';
@import '~@angular/material/theming';
@import './styles/core-style.scss';

html,
body {
	height: 100% !important;
	// min-height: 100% !important;
}
body {
	margin: 0;
	font-family: 'DIN-Regular', 'Varela Round', "Helvetica Neue", sans-serif !important;
}
$custom-typography: mat-typography-config(
	$font-family: 'DIN-Regular',
	$headline: mat-typography-level(32px, 48px, 700),
	$body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);
