<mat-sidenav-container class="sidenav-container " autosize>
  <mat-sidenav #drawer [ngClass]="isExpanded ? 'sidenav-opened' : 'sidenav-closed' "
    [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'side' : 'side'">
    <!-- [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" -->
    <mat-toolbar *ngIf="isExpanded" fxLayout="row" fxLayoutAlign="space-between center" class="white-color-foreground">
      <div>{{title}}</div>

      <div>
        <button mat-mini-fab color='white' mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-toolbar *ngIf="!isExpanded" fxLayout="row" fxLayoutAlign="space-between center" class="white-color-foreground">

      <div>
        <button mat-mini-fab color='warn' mat-icon-button (click)="isExpanded = !isExpanded" class='mt-8'>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>


    <mat-nav-list *ngIf='isExpanded && sidebar' class="white-color-foreground">
      <div *ngFor="let content of sidebar;let i = index">

        <mat-list-item (click)="route(content.url) ; selectRow(i)" [class.active]="i == selectedRow"
          class="cursor-pointer px-24 font-size-16 ">
          <i class="material-icons-outlined mr-16">
            {{content.icon}}
          </i>
          <span> {{content.name}}</span>

        </mat-list-item>
      </div>
    </mat-nav-list>

    <mat-nav-list *ngIf='!isExpanded && sidebar' class="white-color-foreground">

      <div *ngFor="let content of sidebar;let i = index">

        <mat-list-item class='my-12'>
          <button mat-mini-fab color='white' (click)="route(content.url); selectRow(i)"
            [class.active]="i == selectedRow" class="cursor-pointer white-color-background"><i
              class="material-icons-outlined ">
              {{content.icon}}
            </i> </button>

        </mat-list-item>
      </div>
    </mat-nav-list>



  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="h-64 w-100-p ">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="w-100-p">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <div *ngIf="!drawer.opened">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
          <div class='cursor-pointer'>
            <span *ngIf="!drawer.opened">DUPAY</span>
            <div *ngIf="drawer.opened" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
              <div>DUPAY</div>


            </div>

          </div>
        </div>
        <!-- [matMenuTriggerFor]="menu" -->
        <div [matMenuTriggerFor]="menu" *ngIf='isAuthenticated' fxLayout="row" fxLayoutAlign="center center"
          class="mr-64">

          <!-- (click)='route(Username.url)' -->
          <button mat-button class="font-size-16">{{Username}} <i class="material-icons">
            keyboard_arrow_down
            </i></button>

          <mat-menu #menu="matMenu" class="w-180 mt-16">
            <button mat-menu-item>
              <div (click)="route(menuItems.profile.url)">{{menuItems.profile.name}}</div>
            </button>
            <button mat-menu-item>
              <div (click)="logout()">{{menuItems.logout.name}}</div>
            </button>
          </mat-menu>
        </div>


        <div *ngIf='!isAuthenticated' (click)='doRoute()' fxLayout="row" fxLayoutAlign="center center" class="mr-64">
          <mat-icon class="material-icons-outlined cursor-pointer">
            settings
          </mat-icon>
          <button mat-button class="font-size-16">{{Username}}</button>
        </div>
      </div>




    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>