<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="white-color-foreground">
            <div>{{title}}</div>

            <div *ngIf="drawer.opened">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </div>
        </mat-toolbar>


        <mat-nav-list>
            <div *ngFor="let content of sidebar;let i = index">
                <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"> -->
        
                <a mat-list-item (click)="route(content.url) ; selectRow(i)" [class.active]="i == selectedRow"
                  class="cursor-pointer px-24 font-size-16">
                  <i class="material-icons-outlined mr-16">
                    {{content.icon}}
                  </i>
                  <span> {{content.name}}</span>
        
                </a>
              </div>
        </mat-nav-list>



    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>DUPAY</span>
        </mat-toolbar> -->
        <mat-toolbar color="primary" class="h-64 w-100-p ">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="w-100-p">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                <div *ngIf="!drawer.opened">
                  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                  </button>
                </div>
                <div class='cursor-pointer'>
                  <span *ngIf="!drawer.opened">DUPAY</span>
                  <div *ngIf="drawer.opened" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <div>DUPAY</div>
                    <!-- <div><i class="material-icons">
                        whatshot
                      </i></div> -->
      
                  </div>
      
                </div>
              </div>
              <!-- [matMenuTriggerFor]="menu" -->
              <div  fxLayout="row" fxLayoutAlign="center center" class="mr-64">
                <mat-icon class="material-icons-outlined cursor-pointer">
                  settings
                </mat-icon>
                <button mat-button class="font-size-16" (click)='route(Username.url)'>{{Username.name}}</button>
                <!-- <mat-menu #menu="matMenu" class="w-180 mt-16">
                  <button mat-menu-item>
                    <div (click)="route(menuItems.profile.url)">{{menuItems.profile.name}}</div>
                  </button>
                  <button mat-menu-item>
                    <div (click)="logout()">{{menuItems.logout.name}}</div>
                  </button>
                </mat-menu> -->
              </div>
            </div>
      
          </mat-toolbar>
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>